
<div id="form">
  <h1> Login </h1>

  <%= form_with url:sign_in_path do |form| %>
  <%= stylesheet_link_tag('login')%>
  <div class="input-control">
        <%= form.label :email %>
        <%= form.text_field :email, id: "email",placeholder:"example@gmail.com", required: true %>
        <div class="error"></div>
      </div>

      <div class="input-control">
        <%= form.label :password %>
        <%= form.password_field :password, id: "password", placeholder:"password",required: true %>
        <div class="error"></div> 
      </div>
      
      <%= form.submit "Login", class: "submit-button" %>
  <% end %>

</div>