<div id="form">
  <%= stylesheet_link_tag('signup')%>
  <h1>Sign up</h1>
  <%= form_with model: @user, url: sign_up_path, local: true, id: "sign-up-form" do |form| %>
    <% if form.object.errors.any? %>
      <div class="alert-danger">
        <% form.object.errors.full_messages.each do |message| %>
          <div><%= message %></div>
        <% end %>
      </div>
    <% end %>
    <br>
    <div class="input-control">
      <%= form.label :email %>
      <%= form.text_field :email, id: "email",placeholder:"example@gmail.com", required: true %>
      <div class="error"></div> <!-- Placeholder for error message -->
    </div>

    <div class="input-control">
      <%= form.label :password %>
      <%= form.password_field :password, id: "password", placeholder:"password",required: true %>
      <div class="error"></div> 
    </div>

    <div class="input-control">
      <%= form.label :password_confirmation %>
      <%= form.password_field :password_confirmation, id: "password2"  ,placeholder:"confirm password" ,required:true %>
      <div class="error"></div> 
    </div>

    <%= form.submit "Sign Up", class: "submit-button" %>
  <% end %>
    <%= javascript_include_tag('signup.js') %>
</div>
